img.card {
	/* Absolute centering */
	position: fixed;
	/*top: 0;*/
	bottom: 0;
	left: 0;
	right: 0;

	/* Size limit */
	min-width: 90%;
	min-height: 90%;
	max-width: 90%;
	max-height: 90%;
	object-fit: contain;

	/* Other required settings */
	margin: auto;
	overflow: auto;

	border:0;
}

html,body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: fixed;
}

.btn-half {
	width:50%;
}

.header {
	height: 10%;
}

.text-block {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 25px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: black;
	color: white;
}

/*
 * A hand is a div containing cards.
 */
.hand {
	padding: 0;
	margin: 0;
}
.active-hand img.card { 
	cursor: pointer;
}

/*
 * A horizontal hand, class="hand hhand".  The enitire card is visible.
 */
.hhand {
	display: inline-block; 
}
.hhand img.card { 
	padding-top: 10px;
}
.hhand.active-hand img.card:hover { 
	padding-top: 0px;
	padding-bottom: 10px;
}

/*
 * A vertical hand, class="hand vhand".  The enitire card is visible.
 */
.vhand {
	display: block; 
}
.vhand img.card { 
	padding-right: 10px;
}
.vhand.active-hand img.card:hover { 
	padding-right: 0px;
	padding-left: 10px;
}

/*
 * A compact horizontal hand.  Only the last card is entirely visible.
 */
.hhand-compact { 
	display: inline-block; 
}
.hhand-compact img.card:first-child { 
	margin-left: 0px;
	padding-top: 10px;
}
.hhand-compact img.card { 
	margin-left: -52px;
	padding-top: 10px;
}
.hhand-compact.active-hand img.card:hover { 
	padding-top: 0px;
	padding-bottom: 10px;
}

/*
 * A compact vertical hand.  Only the last card is entirely visible.
 */
.vhand-compact {
	display: inline-block;
	vertical-align: top;
}
.vhand-compact img.card:first-child { 
	display: block; 
	margin-top: 0px;
	padding-right: 10px;
}
.vhand-compact img.card 
{
	display: block; 
	margin-top: -80px;
	padding-right: 10px;
}
.vhand-compact.active-hand img.card:hover,
.active-hand .vhand-compact img.card:hover { 
	display: block; 
	padding-right: 0px;
	padding-left: 10px;
}

/*
 * A fanned hand.  Only the last card is entirely visible.
 */
.fan {
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding-bottom: 1em;
}
.fan img.card { 
	position: absolute;
	width: 90px;
}
