html,body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

#card {
    pointer-events: none;
}